<div> hola mundo </div>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Doloribus id, non nisi odit expedita, nulla, praesentium 
    rem repellat nemo quibusdam perferendis! Commodi quaerat e
    sse voluptatum consequuntur minus natus in deserunt?
</p>